.emailapp{
    position: relative;
    z-index: 1;
    overflow: hidden;
    .vs-card--content{
        padding: 0px;
        margin: 0px;
    }
    .vs-sidebar--background{
        position: absolute;
    }
    .email-nav {
        li{
        padding:10px 18px;
        margin: 3px 0;
        display: flex;
        align-items:center;
        cursor:pointer;
        &:hover, &.active{
            background: rgba(0,0,0,0.02);
            color:rgba(var(--vs-primary), 1);
        }
        } 
    }
    .mail-room{
        height:calc(100vh - 330px);
    }
    .mail-table{
        background: transparent;
        .vs-table--search{
            margin-left: auto;
            position: absolute;
            top:1px;
            z-index: 401;
            right: 5px;
        }
        .vs-table--tbody-table .tr-values td{
            padding:0px 10px;
            &.td-check{
                width:50px;
            }
        }
        .email-name{
            width: 100px;
        }
        .tr-values{
            border-top:1px solid $border-color;
            background: transparent;
        }
        .vs-td-space{
            padding:10px;
        }
        .vs-table--search-input{
            padding:10px 10px 10px 30px;
            border-color:$border-color;
        }
        .vs-table--thead{
            th{
                padding:25px 0;
                &.td-check{
                    width:50px;
                }
            }
            .con-td-check{
                box-shadow: none;
                -webkit-box-shadow: none;
            }
            
        }
        
        .vs-table--pagination{
            justify-content: center;
            background: transparent;
            border-top:1px solid $border-color;
            padding:20px 0;
        }
        .is-selected{
            box-shadow: none!important;
            -webkit-box-shadow:none;
        }
        
        .mail-description{
            display: block;
            max-width:340px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .label{
        border-radius: 60px;
        color:white; 
        font-size:12px;
        padding:2px 10px;
        line-height: 12px;
     }
}
.email-detail{
    height: calc(100vh - 200px);
    position: absolute;
    top: 0px;
    z-index: 404;
    padding:30px;
    width:100%;
}  
.email-compose{
    .vs-dialog{
        max-width:600px;
    }
    .vs-dialog footer{
        padding:15px;
        border-top:1px solid $border-color;
    }
    .vs-dialog header h3{
        padding:15px;
    }    
}  